body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.jumbotron {
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumbotron .container {
    text-align: center;
}
